NODE_ENV=local
AEDES_NAME=
AEDES_PORT=1883
AEDES_USERNAME=
AEDES_PASSWORD=

MAIN_DB_DATABASE=
MAIN_DB_USERNAME=
MAIN_DB_PASSWORD=
MAIN_DB_HOST=
MAIN_DB_PORT=
MAIN_DB_MAX_CONNECT=30000

ROLLBAR_ACCESS_TOKEN=
SLACK_WEBHOOK_URI=
